hr {
    margin: 0;
}
.rodapé {
    background-color: white;
    padding: 1em;
}
.lista__rodape {
    display: none;
}
@media screen and (min-width: 1024px ){

    .rodapé {
        display: flex;
        justify-content: space-around;
    }
    .lista__rodape {
        display: block;
    }

    .lista__rodape-item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }
    .lista__rodape-titulo {
        text-transform: uppercase;
        color: #858585;
        margin: 0.6em 0;
    }

    .lista__rodape-link {
        text-decoration: none;
        color: #474646;
        margin-left: 0.6em;
    }

    .rodapé__título {
        font-size: 24px;
    }
    
}

@media screen and (min-width: 1728px) {
    .lista__rodape {
        border-left: 1px solid #858585;
        padding-left: 1em;
    }
    .rodapé {
        padding: 3em 0;
    }
}
